* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

/* this is the header */

header {
    padding: 1em 0;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}

/* this is the logo  */

header .logo {
    width: 35vw;
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 1.5em;
    /* justify-content: center; */
    /* background-color: purple; */
}

.logo h1 {
    font-family: sans-serif;
    letter-spacing: .05em;
    font-size: 1.8em;
}

/* this is the navbar */

header nav {
    width: 40vw;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    letter-spacing: 1px;
}

nav li a {
    color: grey;
    text-decoration: none;
}

/* this is the navbar hover animation */

nav li a:hover {
    color: black;
    transition-duration: .5s;
}

/* this is the log in buttons tab */

header .log {
    width: 15vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.log a {
    width: 7em;
    padding: .5em 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 1.1em;
    font-weight: 600;
    background-color: rgb(1, 1, 71);
    border-radius: 35px;
    border: 2px solid white;
    transition-duration: .5s;
    text-decoration: none;
}

.log a:hover {
    background-color: transparent;
    color: rgb(1, 1, 71);
    border: 2px solid;
    border-color: rgb(1, 1, 71);
}

/* this is the ending of the heading bar  */

/* this is the starting of the main content body */

.intro {
    margin: 10vh 1.6vw;
    width: 100vw;
    height: auto;
    display: flex;
    line-height: 5vh;
    font-size: 1.1em;
    letter-spacing: .05em;
    font-family: sans-serif;
}

#img {
    height: 15vh;
    margin: 5vh;
}