* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}


header {
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;  
}

.logo {
    width: 15vw;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo a {
    font-family: arial;
    font-size: 1.8rem;
    color: white;
}

/* this is the navbar*/

nav {
    width: 50vw;
    height: 8vh;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav a {
    color: rgb(255, 255, 255);
    padding: 2vh 3vw;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1.2px;
    transition: .5s ease-in-out;
    font-size: .9rem;
    font-family: arial;
    transition-delay: .2ms;
}

nav a:hover {
    border-radius: 35px;
    color: rgb(255, 255, 255);
    background-color: rgba(128, 128, 128, 0.468);
}

/* this is the log in section */

.logs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1vh 1vw;
}

.logs a {
    padding: 2.1vh 4vw;
    color: rgb(255, 255, 255);
    letter-spacing: 1.2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: .5s ease-in-out;
    font: arial .8rem;
}

.logs a:hover{
    background-color: black;
    color: white;
    border-bottom: 3px solid white;
}

/* this is the main body of the about page */

.container {
    width: 100vw;
    height: auto;
}

.container .intro {
    width: 100vw;
    height: 60vh;
    background: url(/practice03/Untitled\ design.jpg);
    background-attachment: fixed;
}

.intro .left {
    width: 60vw;
    height: 60vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.827), rgba(255, 255, 255, 0.641), rgba(255, 255, 255, 0));
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1vw 10vh;
}

.intro .left h1 {
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

/* this is the intro section of the about page */

.container .first {
    width: 100vw;
    height: 32vh;
    padding: 10vh 4vw;
    background-color: black;
}

.first h1 {
    font-size: 3rem;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first span {
    font-size: 1.2rem;
    color: #4f6f79;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first p {
    color: white;
    font-family: arial;
    font-size: .8rem;
    padding-top: 2vh;
    padding-left: .5vw;
    letter-spacing: 1px;
}

/* this is the founding history of uber */

.container .found {
    width: 100vw;
    height: 50vh;
    display: flex;
}

.found .left {
    width: 40vw;
    height: 60vh;
    background: url(/practice03/uber-office.avif);
    background-size: cover;
}

.found .right {
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
}

.right p {
    font-size: 1rem;
    font-family: arial;
    line-height: 5vh;
    margin-top: 3vh;
}
