* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: url(/practice03/1723.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this is the top section of the login form */

.form {
    width: 30vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.203);
    border-radius: 1rem;
    backdrop-filter: blur(10px);
}

form .top {
    width: 30vw;
    height: 10vh;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
}

.top h1 {
    color: white;
    font-size: 2rem;
    font-family: arial;
    text-decoration: underline;
    border-bottom: 3px solid rgb(255, 255, 255);
    padding: 1px .5vw;
}

/* this is the mid section of the login form */

form .mid {
    width: 30vw;
    height: 40vh;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3vw;
}

.mid input {
    padding: 1.4vh 1vw;
    margin: 3vh 0;
    border-radius: 1rem;
    border: none;
    font-family: arial;
    letter-spacing: 1px;
}


/* this is the bottom section of the login form */

form .bottom {
    width: 30vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom a {
    color: white;
    font-size: .9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    text-decoration: underline;
    letter-spacing: .5px;
}

.bottom button {
    width: 10vw;
    height: 5vh;
    margin: 0 auto;
    margin-top: 3vh;
    border-radius: 1rem;
    border: none;
    color: white;
    letter-spacing: 1px;
    font: .8rem arial;
    font-weight: 200;
    background-color: #0b0416;
}

.bottom .socials {
    /* background-color: grey; */
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto 0;
}

.socials a {
    margin: .5vw;
    width: 3.2vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: white;
}

.socials a img {
    height: 1.5rem;
}
